.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: rgb(65, 65, 65);
  /* height: 150px; */
  padding: 8px;
  color: white;
}

.App-title {
  font-size: 18px;
  text-align: left;
  margin-left: 28px;
}

.App-intro {
  font-size: large;
}

a {
  color: rgb(80,80,80);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
